{% extends "app/layout.html" %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 20px; text-align: center">
    <nav class="col-icon">
        <p>
            ICONS
            <ul id="icons" style="list-style-type: none; margin:auto; text-align:center; padding-left:0">
                <li> <input type="image" onclick="go()" src="{% static 'app/images/quickbooks.png' %}" style="width:75px;height:75px;"/></li>
                <li> <input type="image" onclick="go2()" src="{% static 'app/images/excel.png' %}" style="width:75px;height:75px;"/></li>
                <li> <input type="image" onclick="go3()" src="{% static 'app/images/file.png' %}" style="width:75px;height:75px;"/></li>                
            </ul>
        </p>
    </nav>
    <div class="col-display" style="position: relative;
    overflow: hidden;
    padding-top: 20%;">
        <p>
           <iframe id="test_iframe" style="position: absolute;top:0;left:0;width:100%;height:100vh;border:0"
     src="https://pathway.hydrogen.trioptech.com/#/client/NABjAG15c3Fs" allow="encrypted-media"; allowfullscreen></iframe>
        </p>
    </div>
</div>

<script type="text/javascript">
function go() {
    document.getElementById("test_iframe").src = "https://pathway.hydrogen.trioptech.com/#/client/NwBjAG15c3Fs";
    }
function go2() {
    document.getElementById("test_iframe").src = "https://pathway.hydrogen.trioptech.com/#/client/NgBjAG15c3Fs";
    }
function go3() {
    document.getElementById("test_iframe").src = "https://pathway.hydrogen.trioptech.com/#/client/NABjAG15c3Fs";
}
</script>

{% endblock %}
