{% extends "app/layout.html" %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 20px; text-align: center">
        <ul id="icons" style="list-style-type: none; margin:auto; text-align:center; padding-left:0">
            <li><input type="image" onclick=qB() src="{% static 'app/images/quickbooks.png' %}" style="width:150px;height:150px;"/><input type="image" onclick=eX() src="{% static 'app/images/excel.png' %}" style="width:150px;height:150px;"/><input type="image" onclick=fI() src="{% static 'app/images/explorer.png' %}" style="width:150px;height:150px;"/></li>
            <li><input type="image" onclick=pP() src="{% static 'app/images/ppt.png' %}" style="width:150px;height:150px;"/><input type="image" onclick=wO() src="{% static 'app/images/word.png' %}" style="width:150px;height:150px;"/></li>                
        </ul>
</div>

<div class="tot-footer">
    <span class="lightButtonFooter">Powered by <a href="https://www.trioptech.com">TriOptimum Technologies</a></span>
</div>

<script type="text/javascript">
function go2() {
    document.getElementById("test_iframe").src = "https://pathway.hydrogen.trioptech.com/#/client/NgBjAG15c3Fs";
    }
function go3() {
    document.getElementById("test_iframe").src = "https://pathway.hydrogen.trioptech.com/#/client/NABjAG15c3Fs";
}
</script>
<script type="text/javascript">
    var qbWnd;
    var exWnd;
    var fiWnd;
    var wdWnd;
    var ppWnd;
    function qB(url) {
    if(qbWnd == undefined)
        qbWnd = window.open("https://pathway.hydrogen.trioptech.com/#/client/NwBjAG15c3Fs",'myFrame');
    else
        qbWnd.focus();
    }
    function eX(url) {
    if(exWnd == undefined)
        exWnd = window.open("https://pathway.hydrogen.trioptech.com/#/client/NgBjAG15c3Fs",'myFrame2');
    else
        exWnd.focus();
    }
    function fI(url) {
    if(fiWnd == undefined)
        fiWnd = window.open("https://pathway.hydrogen.trioptech.com/#/client/NABjAG15c3Fs",'myFrame3');
    else
        fiWnd.focus();
    }
    function wO(url) {
    if(wdWnd == undefined)
        wdWnd = window.open("https://pathway.hydrogen.trioptech.com/#/client/NQBjAG15c3Fs",'myFrame4');
    else
        wdWnd.focus();
    }
    function pP(url) {
    if(ppWnd == undefined)
        ppWnd = window.open("https://pathway.hydrogen.trioptech.com/#/client/OQBjAG15c3Fs",'myFrame3');
    else
        ppWnd.focus();
    }
</script> 

{% endblock %}
